* {
margin: 0;
}

html, body {

background-size: cover;
background-image: url("img/newback.jpg");
background-color: white;
height: 100vh;
width: 100vw;
}

body.background {
    z-index: 0;
}

img {
    opacity: 0.5;
    transition-duration: 5s;
}

img:hover {
    opacity: 1.0;
    box-shadow: 10px 10px 5px yellow;
}

p {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: darkgray;
    text-align: left;
    vertical-align: center;
    float: center;
}

h33 {
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    color: darkgray;
    font-weight: bold;
}

.SiteTable {
    position: relative;
    display: table;
    width: 55vw;
    margin-left: 20vw;
    margin-right: 50vw;
    margin-top: 10px;
    margin-bottom: auto;
    /*height: 250px;*/
    border-radius: 15px;
    box-shadow: 5px 5px 5px black;
    border: solid 0px white;
    overflow: auto;
    z-index: 5;
    opacity: 0.98;
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#45484d+0,000000+100;Black+3D+%231 */
background: rgb(69,72,77); /* Old browsers */
background: -moz-linear-gradient(-45deg,  rgba(69,72,77,1) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(-45deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(135deg,  rgba(69,72,77,1) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#45484d', endColorstr='#000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

filter: none;

}

.Row {
    display: table-row;
    vertical-align: center;
    width: 100%;
    z-index: 5;
    /*border: 1px solid white;*/
}


.Cell {
    
    display: table-cell;
    text-align: left;
    vertical-align: center;
    float: left;
    z-index: 5;
    padding: 15px 15px 15px 15px;
    /*border: 1px solid white;*/

}
.BannerCell {
    display: table-cell;
    text-align: center;
    vertical-align: center;
    height: 250px;
    /*background: url("../img/background.jpg") repeat;
    background-size: cover;*/
    border-radius: 15px 15px 0px 0px;
z-index: 5;
}

.MenuCell {
    padding-top: 15px;
    padding-bottom: 15px;
    display: table-cell;
    text-align: center;
    float: center;
    vertical-align: left;
    /*border: 1px solid white;*/
    z-index: 5;
}

.ContentCell {
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    display: table-cell;
    text-align: left;
    float: center;
    vertical-align: left;
    /*border: 1px solid white;*/
    z-index: 5;
    
}

.FooterCell {
    padding-top: 15px;
    padding-bottom: 15px;
    display: table-cell;
    text-align: center;
    float: center;
    vertical-align: left;
    /*border: 1px solid white;*/
    z-index: 5;
    
}

.menuButton {
    float: center;
    border: none;
    height: 50px;
    width: 150px;
    padding: 0px;
    border-radius: 15px;
    transition-duration: 0.4s;
    background-color: darkgrey
}

.menuButton:hover {
    background-color: lightgray;
    box-shadow: 0px 5px 15px darkslategrey;
    border: dotted white;
}

.time{
    font-family: Courier New, Courier, monospace;
    text-align: center;
}

form{
    text-align: center;
    vertical-align: center;
    float: center;
    color: darkgray;
}

#slider {
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {
  position: relative;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  text-align: center;
  line-height: 300px;
}
a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.element, .outer-container {
 width: 100%;
 height: 800px;
}

.hidden-scrollbar:before {



  border: 0px solid #666;
  content: "";
  position: fixed;
  left: 0;
  right: 0;
  z-index: -1;
  
  display: block;
}

.hidden-scrollbar {
  color:transparent;  
  overflow:hidden;
  text-align:justify;  
  opacity: 1;
  position: fixed;

z-index: 50;



}

.hidden-scrollbar .inner {
  height:100vh;
  overflow:auto;
  margin:15px -300px 15px 15px;
  padding-right:300px; 
  z-index: 0;
  
}

@-webkit-keyframes backgroundScroll {
from {background-position: 0 0;}  
to {background-position: -3840px 0;} 
 
}

@keyframes backgroundScroll {
from {background-position: 0 0;}  
to {background-position: -3840px 0;}  
}

.background {
  -webkit-filter: blur(15px);
  -moz-filter: blur(15px);
  -o-filter: blur(15px);
  -ms-filter: blur(15px);
  filter: blur(15px);
  width: 100vw;  
height: 100vh;  
top: -5%;
left: -5%;

background: url(../img/newback.jpg) repeat-y;  
-webkit-animation: backgroundScroll 120s linear infinite;
animation: backgroundScroll 120s linear infinite;

}